.date-button-group {
  display: flex;
  gap: 4px;
}

.date-button-group > button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 16px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(to bottom right, #405060 0%, #454545 100%);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.date-button-group > button:hover {
  box-shadow: 1px 1px 2px grey;
  transition: box-shadow 0.25s;
}

.date-button-group svg {
  fill: white;
  width: 1em;
  height: 1em;
}
