.extremity-event-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;
  margin-bottom: 64px;
}

@media screen and (max-width: 660px) {
  .extremity-event-list {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: initial;
  }
}

.extremity-event--high {
  color: rgb(84, 140, 185);
}

.extremity-event--low {
  color: rgb(76, 183, 127);
}

.extremity-event_primary-row {
  font-weight: 700;
  font-size: calc(14 / 16 * 1rem);
}

.extremity-event_secondary-row {
  font-size: calc(14 / 16 * 1rem);
}