.tide-level-window_flex-box {
  margin-bottom: 2em;
  display: flex;
  align-items: flex-end;
  gap: 32px;
}

@media screen and (max-width: 660px) {
  .tide-level-window_flex-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}